# Discord Bot Token (required)
BOT_TOKEN=MTUzNDkzNTk3NTk1NDc0NzU2Ng.GIHYrL.XOsigTQP5ptEWW-UPiLuNXRF24ZsJH6ZpNI2iU

# Owner User IDs (comma-separated) - have full access
OWNER_IDS=1534132435649040514

# Developer User IDs (comma-separated) - have full access like owners
DEV_IDS=1534901304202100947

# Twitch API Credentials (for notifications)
TWITCH_CLIENT_ID=zp84xf92053t4w7641xou8btkwfsi5
TWITCH_CLIENT_SECRET=c85iexbfr2jnh0vj4eif569gvbfcbq

# Optional: Bot status
BOT_STATUS=Filpo01 Community: https://discord.gg/rPKE3pnvv
BOT_STATUS_TYPE=playing